.fluid-span-1 {
  width: -2.6666666667%;
}

.fluid-span-2 {
  width: 6.6666666667%;
}

.fluid-span-3 {
  width: 16%;
}

.fluid-span-4 {
  width: 25.3333333333%;
}

.fluid-span-5 {
  width: 34.6666666667%;
}

.fluid-span-6 {
  width: 44%;
}

.fluid-span-7 {
  width: 53.3333333333%;
}

.fluid-span-8 {
  width: 62.6666666667%;
}

.fluid-span-9 {
  width: 72%;
}

.fluid-span-10 {
  width: 81.3333333333%;
}

.fluid-span-11 {
  width: 90.6666666667%;
}

.fluid-span-12 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 9.3333333333%;
}

.fluid-offset-2 {
  margin-left: 18.6666666667%;
}

.fluid-offset-3 {
  margin-left: 28%;
}

.fluid-offset-4 {
  margin-left: 37.3333333333%;
}

.fluid-offset-5 {
  margin-left: 46.6666666667%;
}

.fluid-offset-6 {
  margin-left: 56%;
}

.fluid-offset-7 {
  margin-left: 65.3333333333%;
}

.fluid-offset-8 {
  margin-left: 74.6666666667%;
}

.fluid-offset-9 {
  margin-left: 84%;
}

.fluid-offset-10 {
  margin-left: 93.3333333333%;
}

.fluid-offset-11 {
  margin-left: 102.6666666667%;
}

